* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: BlenderProBook;
  font-style: normal;
  font-weight: 400;
  src: url(../../styles/fonts/BlenderProBook.woff2) format("woff2");
}

@font-face {
  font-family: Oxanium;
  font-style: normal;
  font-weight: 400;
  src: url(../../styles/fonts/Oxanium.woff2) format("woff2");
}

@font-face {
  font-family: Cyberpunk;
  src: url(../../styles/fonts/Cyberpunk.otf) format("opentype");
}

body {
  background-image: linear-gradient(
    to right,

    rgb(0, 109, 109) 0%,

    rgb(37, 37, 37) 15% 85%,
    rgb(0, 109, 109) 100%
  );
}

.teal-yellow-teal {
  background: local;
  background-image: linear-gradient(
    to right,
    teal 10%,
    rgba(255, 255, 0, 0.207) 20% 80%,
    teal 90%
  );
}
.highlight {
  border: greenyellow;
  border-style: solid;
}

/* .landing-page {
  background-image: linear-gradient(
    to right,

    rgb(0, 109, 109) 0%,

    rgb(37, 37, 37) 15% 85%,
    rgb(0, 109, 109) 100%
  );

  height: 100vh;
  width: 100vw;

  font-family: "Oxanium", Courier, monospace;
  align-content: center;
  justify-content: center;
}
.projects-page {
  min-height: 100vh;
}
.firstname-container {
  box-sizing: border-box;
  display: block;
  max-width: 1300px;
  position: relative;
  cursor: default;
  user-select: none;
  height: fit-content;
}
.firstname {
  box-sizing: border-box;
  font-size: 15vw;
  font-family: "Oxanium";
  float: right;
  margin: 0 50% 0 0;
}
.surname-container {
  max-width: 1300px;
  display: block;

  height: fit-content;
  position: relative;
  cursor: default;
  user-select: none;
  width: 50%;
  margin: 0 0 0 50%;
}
.surname {
  box-sizing: border-box;
  font-size: 15vw;
  float: left;
  font-family: "Oxanium";
} */
.landing-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-image: linear-gradient(
    to right,
    rgb(0, 109, 109) 0%,
    rgb(37, 37, 37) 15% 85%,
    rgb(0, 109, 109) 100%
  );
  height: 100vh;
  width: 100vw;
  font-family: "Oxanium", Courier, monospace;
  background-size: 100% 100%; /* Ensure the gradient covers the entire viewport */
}
.lines {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 109, 109, 0.1) 5%,
    transparent 5%,
    transparent 45%,
    rgb(0, 109, 109, 0.1) 45%,
    rgb(0, 109, 109, 0.1) 55%,
    transparent 55%,
    transparent 95%,
    rgb(0, 109, 109, 0.1) 95%
  );

  background-size: 100% 30px;
}

.firstname-container {
  box-sizing: border-box;
  /* max-width: 650px; */
  position: relative;
  cursor: default;
  user-select: none;
  text-align: right;
  margin: 0 50vw 0 0;
}
.surname-container {
  box-sizing: border-box;
  /* max-width: 650px; */
  position: relative;
  cursor: default;
  user-select: none;
  text-align: left;
  margin: 0 0 0 50vw;
}

.firstname,
.surname {
  box-sizing: border-box;
  font-size: 15vh;
  font-family: "Oxanium";
}

.firstname {
  margin-right: auto;
}

.surname {
  margin-left: auto;
}
@media (max-width: 1100px) {
  .firstname-container,
  .surname-container {
    text-align: center;
    margin: 0; /* Remove margins on narrow screens */
  }
}

.title {
  font-family: "Oxanium";
  font-size: 10vw;
  text-align: center;
}
.landing-page > p {
  box-sizing: border-box;
  max-width: 1000px;
  user-select: none;
  text-align: center;
  font-size: 4vw;
  margin: auto;
  width: 60%;
}
.projects-container {
  align-content: center;
  height: 100vh;
  margin: 0 auto 0;
}
.project {
  color: #ffffff;
  display: flex;
  max-width: 1300px;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.project > * {
  border: greenyellow;
  border-style: solid;
  margin: 0 auto;
}
.neon-glow-pink {
  text-shadow: 0 0 7px #ffffff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 0, 242), 0 0 82px rgb(255, 0, 242),
    0 0 92px rgb(255, 0, 242), 0 0 102px rgb(255, 0, 242),
    0 0 151px rgb(255, 0, 242);
  padding: 10px;
}
.neon-glow-blue {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 234, 255), 0 0 82px rgb(0, 234, 255),
    0 0 92px rgb(0, 234, 255), 0 0 102px rgb(0, 234, 255),
    0 0 151px rgb(0, 234, 255);
  padding: 10px;
}

.fade-to-black {
  width: vh;
  height: 20vh;
  background-image: linear-gradient(
    to bottom,
    transparent 00%,
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255) 100%
  );
  opacity: 0.5;
}
.full-page {
  min-width: 100vh;
  min-height: 100vh;
}
/* .scroll-snap-parent {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */
.scroll-snap-child {
  scroll-snap-align: start;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@keyframes wipe-enter {
  0% {
    transform: scale(1, 1);
  }
  /* 25% {
    transform: scale(2, 0.1);
  } */
  50% {
    transform: scale(1, 0.025);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .project-enter {
    animation-name: wipe-enter;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
}
.cyber-glitch-2 {
  animation: cyber-glitch-2 4s linear infinite;
}

@keyframes cyber-glitch-2 {
  0% {
    clip-path: var(--og-clip-path);
    transform: translateX(0);
    text-shadow: none;
  }
  2% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(0);
    text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
  }
  4% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(-1rem);
    text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
  }
  6% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(1rem);
    text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
  }
  8% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(0);
    text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
  }
  12% {
    clip-path: polygon(0 10%, 0 40%, 100% 40%, 100% 10%);
    transform: translateX(0);
    text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
  }
  14% {
    clip-path: var(--og-clip-path);
    transform: translateX(0);
    text-shadow: none;
  }
  100% {
    clip-path: var(--og-clip-path);
    transform: translateX(0);
    text-shadow: none;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
