* {
  margin: 0;
  padding: 0;
}

.teal-yellow-teal {
  background: local;
  background-image: linear-gradient(
    to right,
    teal 10%,
    rgba(255, 255, 0, 0.207) 20% 80%,
    teal 90%
  );
}

.landing-page {
  background-color: rgb(37, 53, 68);
}
